$max-website-width: 1500px;

$mobile-size: 600px;

$default-font-size: 1.6rem;

$space-around-lg: 10%;

$color-primary: #3E00FF;
$color-primary-light: #0D52FF;
$color-primary-dark: #00011C;

$color-secondary: #FAE400;

$color-white: #fff;
$color-black: #000; 

$nav-bars-width: 3rem;
$upper-bar-width: 1.5rem;
$lower-bar-width: 2rem;
