@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk");
@import url("https://fonts.googleapis.com/css2?family=Karantina");
@keyframes arrow {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* now 1 rem = 10px  */
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.cursor {
  position: absolute;
  border-radius: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  will-change: top, left;
  pointer-events: none; }
  .cursor__point {
    top: -0.5rem;
    left: -0.5rem;
    width: 1rem;
    height: 1rem;
    background-color: #FAE400; }
  .cursor__ring {
    top: -1.5rem;
    left: -1.5rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid #FAE400; }

@media screen and (max-width: 600px) {
  .cursor {
    display: none; }
    .cursor__ring {
      display: none; } }

.liquid-blobs {
  height: 7rem;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  filter: contrast(20); }

.liquid-blobs::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #70707b;
  mix-blend-mode: lighten; }

.blob {
  animation-duration: 2s;
  border-radius: 50%;
  position: absolute;
  top: 0;
  filter: blur(10px);
  animation-name: blob-anim;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 0.5s;
  background: black;
  /*   box-shadow: 0 0 30px 10px black; */ }

@keyframes blob-anim {
  0% {
    transform: translateX(-50vw); }
  100% {
    transform: translateX(50vw); } }

.liquid-base {
  width: 100%;
  height: 2rem;
  background-color: black; }

.liquid-connector {
  width: 120%;
  height: 1rem;
  background-color: black;
  filter: blur(10px);
  transform: translate(-10%, -0.5rem); }

.hscroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; }

.hscroll-container::-webkit-scrollbar {
  width: 0;
  height: 0; }

.hscroll-block {
  min-width: 16rem;
  max-width: 16rem;
  overflow: hidden;
  height: 9rem;
  margin: 0 2rem;
  transition: transform 0.5s;
  border-radius: 0.5rem; }

.hscroll-block:first-child {
  margin-left: 8rem; }

.hscroll-block img {
  width: 100%;
  transition: all 0.5s; }

.hscroll-block h2 {
  position: absolute;
  color: white;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s; }

.hscroll-block:hover h2 {
  opacity: 1; }

.hscroll-block:hover img {
  filter: saturate(0.5) brightness(0.3); }

.hscroll-block:nth-child(even) {
  background-color: thistle; }

#about {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.about {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center; }
  .about img {
    width: 27vw; }
  .about p {
    font-size: 2.5rem;
    font-family: "Space Grotesk", sans-serif;
    color: #00011C; }

.divider__img {
  width: 110vw;
  transform: translateY(1px); }

@media only screen and (max-width: 1000px) {
  .about img {
    width: 30vw; }
  .about p {
    font-size: 2rem; } }

@media only screen and (max-width: 750px) {
  .about img {
    width: 35vw; }
  .about p {
    font-size: 1.5rem; } }

@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    transform: translateY(-2rem); }
    .about img {
      width: 60vw; }
    .about p {
      text-align: center; } }

#contact {
  width: 100vw;
  height: 12rem;
  background-color: #00011C;
  border-top: 1px solid #3E00FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.contact {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.contact-info-container {
  font-size: 2rem;
  font-family: "Space Grotesk", sans-serif;
  color: #fff; }

.contact-info-container a {
  color: #FAE400;
  text-decoration: none; }

.socials-container {
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr); }
  .socials-container img {
    width: 80%;
    padding: 0.2rem;
    transition: all 0.3s ease; }
    .socials-container img:hover {
      filter: drop-shadow(0px 5px 2px rgba(255, 255, 255, 0.2)); }

@media only screen and (max-width: 600px) {
  #contact {
    height: max-content; }
  .contact {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    margin: 2rem 0; }
  .contact-info-container {
    text-align: center;
    margin-bottom: 2rem; } }

#hero {
  width: 100vw;
  height: calc(100vh - 8rem);
  background: linear-gradient(#00011C, #000026);
  display: flex;
  align-items: center;
  justify-content: center; }

.hero {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0px;
  align-items: center; }
  .hero__content {
    height: 50vh; }
    .hero__content h2 {
      font-size: 2rem;
      font-weight: bold;
      font-family: "Rubik", sans-serif;
      color: #0D52FF; }
    .hero__content img {
      height: 90%;
      width: 100%; }
  .hero__skills {
    width: 60vw;
    height: 3rem;
    position: relative;
    background-color: transparent;
    color: #FAE400;
    filter: contrast(50) blur(1px); }
    .hero__skills__word {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: "Space Grotesk", sans-serif;
      font-weight: 900;
      font-size: 3rem;
      transform: translate(-50%, -50%);
      animation: word 10s infinite ease-in-out; }
      .hero__skills__word:nth-child(1) {
        animation-delay: -10s; }
      .hero__skills__word:nth-child(2) {
        animation-delay: -8s; }
      .hero__skills__word:nth-child(3) {
        animation-delay: -6s; }
      .hero__skills__word:nth-child(4) {
        animation-delay: -4s; }

@keyframes word {
  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1; }
  20%,
  80% {
    filter: blur(1.6rem);
    opacity: 0; } }
  .hero__down-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .hero__down-arrow img {
      height: 1.5rem; }
      .hero__down-arrow img:nth-child(1) {
        animation: arrow 3s infinite 0s ease-in-out; }
      .hero__down-arrow img:nth-child(2) {
        animation: arrow 3s infinite 0.3s ease-in-out; }
      .hero__down-arrow img:nth-child(3) {
        animation: arrow 3s infinite 0.6s ease-in-out; }

@media only screen and (max-width: 600px) {
  .hero {
    justify-content: center;
    gap: 3rem; }
    .hero__content {
      height: max-content; }
      .hero__content img {
        height: max-content; }
    .hero__skills {
      width: 100%;
      height: 3rem; }
      .hero__skills__word {
        font-size: 2rem; } }

nav {
  width: 100vw;
  background-color: #00011C;
  border-bottom: 1px solid #3E00FF;
  display: flex;
  justify-content: center;
  align-items: center; }
  nav .nav {
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 8rem;
    display: flex;
    padding: 0 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    nav .nav__logo img {
      content: url("../assets/Logo.svg");
      display: inline-block;
      height: 4rem; }
    nav .nav__links {
      display: flex;
      flex-direction: row;
      gap: 4rem; }
      nav .nav__links a {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Rubik', sans-serif;
        color: #fff; }
    nav .nav__toggle {
      display: none; }

@media only screen and (max-width: 600px) {
  nav .nav__links {
    position: absolute;
    top: -30rem;
    left: 0;
    width: 100vw;
    flex-direction: column;
    background-color: #00011C;
    align-items: center;
    justify-content: center;
    gap: 0;
    transition: top 0.5s; }
    nav .nav__links a {
      padding: 2rem 0;
      width: 100%;
      height: max-content;
      text-align: center;
      border-bottom: 1px solid #3E00FF; }
  nav .nav__toggle {
    display: block;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav .nav__toggle__bars {
      position: relative;
      width: 3rem; }
      nav .nav__toggle__bars, nav .nav__toggle__bars::before, nav .nav__toggle__bars::after {
        height: 2px;
        background-color: #fff;
        display: inline-block; }
      nav .nav__toggle__bars::before, nav .nav__toggle__bars::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s; }
      nav .nav__toggle__bars::before {
        width: 1.5rem;
        left: 1.5rem;
        top: -1rem; }
      nav .nav__toggle__bars::after {
        width: 2rem;
        left: 1rem;
        top: 1rem; }
  nav .nav[data-is-open="true"] .nav__links {
    top: calc(8rem + 1px); }
  nav .nav[data-is-open="true"] .nav__toggle__bars {
    background-color: transparent; }
    nav .nav[data-is-open="true"] .nav__toggle__bars::before {
      top: 0;
      left: 0;
      width: 3rem;
      transform: rotate(135deg); }
    nav .nav[data-is-open="true"] .nav__toggle__bars::after {
      top: 0;
      left: 0;
      width: 3rem;
      transform: rotate(-135deg); } }

#skills {
  width: 100vw;
  height: max-content;
  background-color: #00011C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem; }

.skills {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%; }
  .skills > img {
    width: 35vw; }
  .skills__logo {
    position: relative;
    padding: 0.7rem; }
    .skills__logo > p {
      position: absolute;
      top: 0;
      left: 50%;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      font-family: 'Space Grotesk', sans-serif;
      background-color: #FAE400;
      border: 2px solid #00011C;
      transform: translate(-50%, -90%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: bottom; }
    .skills__logo > img {
      width: 100%; }
      .skills__logo > img:hover + p {
        transform: translate(-50%, -90%) scale(1); }
  .skills__logos-container {
    display: inline-grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr); }

@media only screen and (max-width: 600px) {
  .skills {
    flex-direction: column; }
    .skills > img {
      width: 100%; }
    .skills__logos-container {
      width: 100%; } }

#work {
  width: 100vw;
  height: max-content;
  background-color: #00011C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem; }

.work {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  padding: 0 10%; }
  .work > img {
    width: 35vw; }

.carousel-container:not(:first-child) {
  margin-top: 5rem; }

.carousel-container > h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
  color: #FAE400;
  text-shadow: 1px 1px 3px black;
  position: absolute;
  margin-top: 2rem;
  z-index: 100; }

@media only screen and (max-width: 600px) {
  .work > img {
    width: 100%; } }
