.hscroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.hscroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hscroll-block {
  min-width: 16rem;
  max-width: 16rem;
  overflow: hidden;
  height: 9rem;
  margin: 0 2rem;
  transition: transform 0.5s;
  border-radius: 0.5rem;
}

.hscroll-block:first-child {
  margin-left: 8rem;
}

.hscroll-block img {
  width: 100%;
  transition: all 0.5s;
}

.hscroll-block h2 {
  position: absolute;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s;
}

.hscroll-block:hover h2 {
  opacity: 1;
}

.hscroll-block:hover img {
  filter: saturate(0.4) brightness(0.2);
}