*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* now 1 rem = 10px  */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: $default-font-size;
  overflow-x: hidden;
}